{% block content %}
<!DOCTYPE html>
<html Lang="es"><!-- Lenguaje //-->
	<head>  
		<meta charset='utf-8'>
		<link rel="stylesheet" href="stylesheet2.css">
		<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></strong><!-- Formato //-->
	</head>
	<body>
		<div id='contenido'>
			<header>
				<hgroup>
					<h1>Ingrese los datos</h1>
				</hgroup>
				<nav>
					<ul>
						
					</ul>
				</nav>
			</header>
			<section>
				<div id='textoPr'>
					<hgroup>
						<h1> </h1><!-- Titulo //-->
					</hgroup>
					<!-- Obtiene lo que se le solicita al cliente con el metodo post //-->
					<form method="post" action="{{ url_for('muestraporcarac') }}" name="muestraporcarac">
					<label> Caracteristicas: </label>
					<p><label> Numero de pisos : </label> <input type="text" name="numeropisos" required></p><br>
					<p><label> Numero de dormitorios : </label> <input type="text" name="numerodormitorios" required></p><br>
					<p><label> Numero de baños : </label> <input type="text" name="numerobanos" required></p><br>
					<p><label> Numero de estacionamientos : </label> <input type="text" name="numeroestacionamientos" required></p><br>
					<label> pilas : </label>
					<select name="pilas">
					<option>Si</option>
					<option>No</option>
					</select>
					<label> Jardin : </label>
					<select name="Jardin">
					<option>Si</option>
					<option>No</option>
					</select>
					<label> Balcon : </label>
					<select name="Balcon">
					<option>Si</option>
					<option>No</option>
					</select>
					
					
					 <p><button type="submit">Ingresa</button></p>
					</form>
							
			</div>
			</section>		
		</div>
	</body>
</html>
{% endblock %}
