{% block content %}<!-- Inicio del bloque  //-->
<!-- Pagina para la consulta de apartamentos //-->
<h1>Mostrar todos los apartamentos publicados</h1><!-- Titulo  //-->
<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></strong><!-- Formato //-->
<ul>
{% for n in Lista %}<!--Ciclo para mostrar los apartas  //-->
<li>{{n}}</li><!-- Se imprimen en el html los apartas  //-->
{% endfor %} <!-- Fin del ciclo //-->
</ul>

<li><a href="{{url_for('Verificacion')}}">Menu</a></li><!-- Volver al menu  //-->
{% endblock %}<!-- Fin del bloque //-->
